#P2 {
  width: auto;
  height: 250px;
}

#P1 {
  width: auto;
  height: 300px;
}

#div11 {
}

div {
  text-align: center;
}

div {
  text-align: center;
}

div {
  text-align: center;
}

div {
  text-align: center;
}

